# API Base URL (Required for Mobile/Production)
VITE_API_BASE_URL=https://your-backend-api.com

SUPABASE_URL=https://rdagpkkzhepoqdodvpoi.supabase.co/rest/v1/

SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkYWdwa2t6aGVwb3Fkb2R2cG9pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1NDcxNDEsImV4cCI6MjA5MjEyMzE0MX0.3yA0W1ebEOlJE1269QOI5a0Not2fCUqLiZ06LoMg1C4
VITE_SUPABASE_URL=https://rdagpkkzhepoqdodvpoi.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkYWdwa2t6aGVwb3Fkb2R2cG9pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1NDcxNDEsImV4cCI6MjA5MjEyMzE0MX0.3yA0W1ebEOlJE1269QOI5a0Not2fCUqLiZ06LoMg1C4